/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --login-font: "Poppins", sans-serif;

}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  display: grid;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

.login__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(5px);
}
.login__form {
  position: relative;
  background-color: hsl(0deg 0% 99.12% / 90%);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 0.5rem;
  /*backdrop-filter: blur(8px);*/
  color:black;

}
.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}
.login__content, .login__box {
  display: grid;
}
.login__content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.login__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid var(--white-color);
}
.login__icon, .login__eye {
  font-size: 1.25rem;
}
.login__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: var(--white-color);
  position: relative;
  z-index: 1;
}
.login__box-input {
  position: relative;
}
.login__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}
.login__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.login__box:nth-child(2) input {
  padding-right: 1.8rem;
}
.login__check, .login__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__check {
  margin-bottom: 1.5rem;
}
.login__check-label, .login__forgot, .login__register {
  font-size: var(--small-font-size);
}
.login__check-group {
  column-gap: 0.5rem;
}
.login__check-input {
  width: 16px;
  height: 16px;
}
.login__forgot {
  color: var(--white-color);
}
.login__forgot:hover {
  text-decoration: underline;
}
.login__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
}
.login__register {
  text-align: center;
}
.login__register a {
  color: var(--white-color);
  font-weight: var(--font-medium);
}
.login__register a:hover {
  text-decoration: underline;
}

/* Input focus move up label */
.login__input:focus + .login__label {
  top: -12px;
  font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
  top: -12px;
  font-size: var(--small-font-size);
}

.button-login{
  background-color: #11101d;
  border: none;
}
.button-login:hover{
  background-color: #1b173e;
  border: none;
}

.logo__form__img{
  width: 100%;
  margin-bottom: 30px;
}
.logo_login{
  padding: 0.5rem 0rem 0rem 4rem;
  position: relative;
  z-index: 1000;
  top: 0;
  width: 80%;
  margin: 0;
}
form h5{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.5rem;
  display: block;
 font-weight: bold;
 text-align: center;
 margin-bottom: 30px;
}
.botton_login{
  display: block;
  margin-right: 2rem;
}
.botton_login p{
  color: black;
  text-align: right !important;
}
/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    color:black;
    width: 380px;
    border-radius: 0.5rem;
   
    background-color: hsl(0deg 0% 99.12% / 77%);
  }
  .login__title {
    font-size: 2rem;
  }
  .botton_login p{
    color: black;
    text-align: right !important;
  }
  .logo_login{
    padding: 1rem;
    position: absolute;
    color: white;
    z-index: 1000;
    top: 0;
    width: 20%;
    right: 0;
  }
}